<tr>
  <td class="px-6 py-4 whitespace-nowrap">
    <div class="text-sm font-medium text-gray-900">
        <%= link_to tournament.name, admin_tournament_path(tournament), class: "text-md text-indigo-900 flex items-center" %>
      </div>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <div class="text-sm font-medium text-gray-900">
        <%= tournament.sport.name %>
      </div>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <div class="text-sm font-medium text-gray-900">
        <%= tournament.year %>
      </div>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <div class="text-sm font-medium text-gray-900">
        <%= link_to tournament.groups.count, admin_tournament_groups_path(tournament), class: 'text-md text-indigo-900 flex items-center' %>
      </div>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <div class="flex">
        <%= link_to "Edit", edit_admin_tournament_path(tournament), class: 'btn btn--primary inline-block mr-2' %>
      </div>
  </td>
</tr>