<tr class="bg-white lg:hover:bg-gray-100 table-row flex-row flex-no-wrap mb-2 lg:mb-0">
  <th class="sticky text-xs left-0 z-20 p-3 text-center text-indigo-900 table-cell bg-gray-200">
    <%= link_to picks_admin_group_membership_path(membership_week.membership.group, membership_week.membership), class: 'flex items-center' do %>
      <span><%= position %></span>
      <span class="rounded bg-green-400 py-1 px-3 text-xs font-bold mr-2"><%= membership_week.points %></span>
      <span class='break-words w-16 text-left'><%= membership_week.membership.account.username %></span>
    <% end %>
  </th>
  <% membership_week.picks.includes(:picked_team, match: [:home_team, :visit_team]).order("matches.order").each do |pick| %>
    <td class="p-3 text-center border-gray-300 table-cell hover:bg-gray-300  <%= pick.correct ? 'text-green-600' : 'text-gray-800' %>">
      <%= pick.picked_team.short_name if pick.picked_team %>
      <% if pick.match.untie %>
        <span class="rounded bg-black py-1 px-3 text-xs text-white font-bold ml-2"><%= pick.points %></span>
      <% end %>
    </td>
  <% end %>
</tr>