<div class='p-6 container mx-auto text-left'>
  <% if @not_paid_memberships.present? && Time.now > Time.parse('2023-09-20 01:00:00 -0600') %>
    <div class="px-4 py-2 mb-4 w-full flex justify-between items-center rounded bg-red-100 border-l-red-700 text-red-700 border-l-4" role="alert">
      <p class="text-left flex-1 self-center"><span class="font-bold">Aviso</span> - No has pagado la cuota. Si no pagas para el <b>5 de octubre del 2023 perderas acceso a poner tus picks</b> hasta que pagues. La cuota sube a <b>$150.00</b> dolares en efectivo a partir del <b>5 de octubre</b>. Si crees que esto es un error notifica al administrador.</p>
    </div>
  <% end %>

  <% if @accounts.empty? %>
    <h1 class='text-xl text-indigo-900 mb-4 font-bold'>Genera tu primer username</h1>
    <p class='mb-4'>En el formulario debajo puedes crear otro "username" y gestionarlo en esta misma sesión con tu correo <b><%= current_user.email %></b></p>
    <%= form_with model: Account.new do |f| %>
      <div class='w-full'>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <div class='grid grid-cols-1 gap-6 mb-8'>
          <div>
            <%= f.label :username, class: 'label' %>
            <%= f.text_field :username, class: 'input', required: true %>
          </div>
          <ul>
            <li class="text-left">Asegurate de que tu "username" sea de <b>3 a 12 caracteres</b> de largo</li>
            <li class="text-left">Solo letras y/o numeros son permitidos</li>
          </ul>
        </div>
        <%= f.submit 'Crear',  class: 'btn btn--primary' %>
      </div>
    <% end %>
  <% end %>

  <% if @requests.pending.present? %>
    <h2 class='text-lg mb-4 text-left text-bold'>Solicitudes pendientes</h2>

    <div class="lg:shadow lg:overflow-hidden lg:border-b lg:border-gray-200 sm:rounded-lg mb-4">
      <div class="lg:table w-full rounded min-w-full divide-y divide-gray-200">
        <div class="hidden lg:table-header-group bg-gray-200 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
          <div class="lg:table-cell px-6 py-3">Usuario</div>
          <div class="lg:table-cell px-6 py-3 lg:w-48">Grupo</div>
          <div class="lg:table-cell px-6 py-3">Estado</div>
        </div>
        <div class="grid grid-cols-1 gap-8 lg:table-row-group lg:bg-white divide-y divide-gray-200">
        <% @requests.pending.each do |request| %>
          <div class="bg-white rounded-xl lg:rounded-none lg:table-row shadow-lg grid grid-cols-2">
            <div class="lg:table-cell px-6 py-6 lg:py-3 lg:px-6 whitespace-nowrap">
              <div class="lg:hidden text-sm text-gray-500 text-left">Usuario</div>
              <div class="text-sm text-gray-800 whitespace-nowrap text-left">
                <%= request.account.username %>
              </div>
            </div>
            <div class="lg:table-cell px-6 py-6 pb-2 lg:py-3 lg:px-6 text-left">
              <div class="lg:hidden text-sm text-gray-500 text-left">Group</div>
              <div class="text-sm font-medium text-gray-900 text-left">
                <%= request.group.name %>
              </div>
              <div class="text-sm text-gray-500"><%= request.group.tournament.name %> - <%= request.group.tournament.year %></div>
            </div>
            <div class="lg:table-cell px-6 py-6 lg:py-3 lg:px-6 text-left">
              <div class="lg:hidden text-sm text-gray-500 text-left">Status</div>
              <span class="px-2 mb-1 whitespace-no-wrap inline-flex text-xs leading-5 font-semibold rounded-full bg-blue-200 text-blue-800">
                Solicitud pendiente
              </span>
              <div class="text-sm text-gray-500 lg:mb-0 text-left">Fecha de Solicitud: <%= request.created_at.to_formatted_s(:short) %></div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if @active_memberships.present? %>
    <h2 class='text-lg mb-4 text-left text-bold'>
      Mis cuentas activas
      <%= link_to accounts_path do %>
        <span class='underline text-blue-800 text-sm'>detalles</span>
      <% end %>
    </h2>
    <% @active_memberships.group_by(&:group).each do |group, memberships| %>
      <div class="relative">
        <div class="bg-gray-200 text-left text-xs text-gray-800 uppercase flex items-center shadow-lg <%= 'top-0 sticky' if @active_memberships.count > 1 %> rounded-xl mb-4 flex-wrap py-3 gap-4">
          <div class="px-6 font-bold"><%= group.name %> - <%= group.tournament.year  %></div>
          <div class="px-6 font-bold">Semana - <%= group.tournament.current_week.number %></div>
          <div class="px-6 flex-1 flex gap-2 w-48">
            <%= link_to table_membership_path(memberships.first), class: "btn btn--primary py-1" do %>
              <i class="fa-solid fa-table mr-2 fill-current"></i>
              <span>Conso</span>
            <% end %>
            <%= link_to winners_membership_path(memberships.first), class: "btn btn--primary py-1" do %>
              <i class="fa-solid fa-star mr-2 fill-current"></i>
              <span>Wins</span>
            <% end %>
            <%= link_to members_membership_path(memberships.first), class: "btn btn--primary py-1" do %>
              <i class="fa-solid fa-table mr-2 fill-current"></i>
              <span>Tabla</span>
            <% end %>
          </div>
        </div>
        <div class="lg:shadow lg:overflow-hidden lg:border-b lg:border-gray-200 sm:rounded-lg mb-4">
          <div class="lg:table w-full rounded min-w-full divide-y divide-gray-200">
            <div class="hidden lg:table-header-group bg-gray-200 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              <div class="lg:table-cell px-6 py-3">Usuario</div>
              <div class="lg:table-cell px-6 py-3">Pts. Semana <%= memberships.first.current_membership_week.week.number %></div>
              <div class="lg:table-cell px-6 py-3">Acumulado</div>
              <div class="lg:table-cell px-6 py-3">Acciones</div>
            </div>
            <div class="grid grid-cols-1 gap-8 lg:table-row-group lg:bg-white divide-y divide-gray-200">
              <% memberships.each do |member| %>
                <%= render partial: '/memberships/home_membership', locals: { member: member } %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  
  <% if @joinable_groups.present? && @active_memberships.empty? && @accounts.present? %>
    <div class="bg-white rounded-xl lg:rounded-none lg:table-row shadow-lg grid grid-cols-1">
      <div class="lg:table-cell px-6 py-6 lg:py-3 lg:px-6 whitespace-nowrap">
        <div class="text-sm font-medium text-gray-500 text-left">
          <%= link_to 'Únete a la quiniela', join_groups_path, class: "underline text-indigo-900" %>
        </div>
      </div>
      <div class="lg:table-cell">
      </div>
      <div class="lg:table-cell">
      </div>
      <div class="lg:table-cell">
      </div>
      <div class="lg:table-cell">
      </div>
      <div class="lg:table-cell">
      </div>
    </div>
  <% end %>

  <% if @joinable_groups.empty? && @requests.pending.empty? && @active_memberships.empty? %>
    <h2 class='text-lg text-left text-bold'>No hay grupos a los que te puedas unir</h2>
    <p class='text-lg'>Parece que no hay ningun grupo disponible para participar, si crees que esto es un error puedes reportarlo con los administradores</p>
  <% end %>

  <% if @active_memberships.present? && @latest_post.present? %>
    <h2 class='text-lg mb-4 text-left text-bold'>Publicaciones</h2>
    <div class="rounded-xl p-6 shadow-lg bg-white text-black">
      <h2 class='text-md text-indigo-900 text-bold mb-4'>
        <%= @latest_post.title %>
      </h2>
      <%= @latest_post.content %>
    </div>
  <% end %>

  <% if @finished_memberships.present? %>
    <h2 class='text-lg mb-4 mt-4 text-left'>Grupos previos</h2>

    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead>
              <tr class="bg-gray-200">
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Username
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Group
                </th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <% @finished_memberships.each do |membership| %>
                <tr>
                  <td class="px-6 py-4 whitespace-nowrap text-left">
                    <div class="flex items-center">
                      <div>
                        <div class="text-sm font-medium text-gray-900">
                          <%= link_to membership.account.username, membership_path(membership), class: "text-md text-indigo-900 flex items-center" %>
                        </div>
                        <div class="text-sm text-gray-500">
                          <%= membership.account.user.email %>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-left">
                    <div class="text-sm text-gray-900"><%= membership.group.name %></div>
                    <div class="text-sm text-gray-500"><%= membership.group.tournament.name %> - <%= membership.group.tournament.year %></div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>
  <br>
  <%= link_to 'Reglas', rules_path, class: "underline text-indigo-900 text-lg mb-4" %>
</div>