<div class='p-6 container mx-auto'>
  <div class='flex flex-wrap mb-4'>
    <h2 class='text-2xl text-indigo-900 mr-4'>Hola, <%= current_user.full_name %></h2>
  </div>
  <% if !@memberships.present? %>
    <div class='flex flex-wrap mb-4 w-1/2'>
      <p class='text-md text-indigo-900'>Si no tienes ningún usuario crea uno ahora. Un <b>usuario</b> puede participar una vez por quiniela. Puedes crear muchos usuarios si lo deseas.</p>
    </div>
  <% end %>
  <div class='flex flex-wrap mb-4'>
    ¿Eres nuevo? &nbsp; <%= link_to "crea un usuario", new_account_path, class: 'underline text-link' %>
  </div>
  <% if @requests.present? || @memberships.present? %>
    <% if @memberships.active.present? %>
      <h2 class='text-lg mb-4 text-left'>Grupos Activo</h2>
      <div class="lg:shadow lg:overflow-hidden lg:border-b lg:border-gray-200 sm:rounded-lg mb-4">
        <div class="lg:table w-full rounded min-w-full divide-y divide-gray-200">
          <div class="hidden lg:table-header-group bg-gray-200">
            <div class="lg:table-cell px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Username</div>
            <div class="lg:table-cell px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Group</div>
            <div class="lg:table-cell px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Week</div>
            <div class="lg:table-cell px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Points</div>
            <div class="lg:table-cell px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Position</div>
            <div class="lg:table-cell px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Actions</div>
          </div>
          <div class="grid grid-cols-1 gap-8 lg:table-row-group lg:bg-white divide-y divide-gray-200">
            <% @memberships.active.each do |member| %>
              <div class="bg-white rounded-xl lg:rounded-none lg:table-row shadow-lg grid grid-cols-2">
                <div class="lg:table-cell px-6 py-6 pb-2 lg:py-3 lg:px-6 whitespace-nowrap">
                  <div class="lg:hidden text-sm text-gray-500 text-left">Username</div>
                  <div class="flex items-center">
                    <div>
                      <div class="text-sm font-medium text-gray-900 text-left">
                        <%= link_to member.account.username, picks_membership_path(member), class: "text-md text-indigo-900 flex items-center" %>
                      </div>
                      <div class="text-sm text-gray-500">
                        <%= member.account.user.email %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="lg:table-cell px-6 py-6 pb-2 lg:py-3 lg:px-6 whitespace-nowrap text-left">
                  <div class="lg:hidden text-sm text-gray-500 text-left">Group</div>
                  <div class="text-sm font-medium text-gray-900 text-left">
                    <%= link_to member.group.name, table_membership_path(member), class: "text-md text-indigo-900 flex items-center" %>
                  </div>
                  <div class="text-sm text-gray-500"><%= member.group.tournament.name %> - <%= member.group.tournament.year %></div>
                </div>
                <div class="lg:table-cell px-6 py-6 pb-2 lg:py-3 lg:px-6 whitespace-nowrap">
                  <div class="lg:hidden text-sm text-gray-500 text-left">Week Number</div>
                  <div class="text-sm text-gray-900 text-left"><%= member.group.tournament.current_week.number %></div>
                </div>
                <div class="lg:table-cell px-6 py-6 pb-2 lg:py-3 lg:px-6 whitespace-nowrap">
                  <div class="lg:hidden text-sm text-gray-500 text-left">Points</div>
                  <div class="text-sm text-gray-900 text-left"><%= member.current_membership_week.points %></div>
                </div>
                <div class="lg:table-cell px-6 py-6 pb-2 lg:py-3 lg:px-6 whitespace-nowrap">
                  <div class="lg:hidden text-sm text-gray-500 text-left">Position</div>
                  <div class="text-sm text-gray-900 text-left"><%= member.position %></div>
                </div>
                <div class="lg:table-cell px-6 py-6 pb-4 lg:py-3 lg:px-6 whitespace-nowrap col-span-2">
                  <div class='flex flex-wrap'>
                    <%= link_to table_membership_path(member), class: "text-md text-white bg-indigo-900 rounded-lg mb-2 py-2 mr-2 flex items-center px-2 border-transparent hover:border-gray-400" do %>
                      <i class="fa-solid fa-table mr-3 fill-current"></i>
                      <span>Conso</span>
                    <% end %>
                    <%= link_to picks_membership_path(member), class: "text-md text-white bg-indigo-900 rounded-lg mb-2 py-2 mr-2 flex items-center px-2 border-transparent hover:border-gray-400" do %>
                      <i class="fa-solid fa-money-bill-wave-alt mr-3 fill-current"></i>
                      <span>Picks</span>
                    <% end %>
                    <%= link_to members_membership_path(member), class: "text-md text-white bg-indigo-900 rounded-lg mb-2 py-2 mr-2 flex items-center px-2 border-transparent hover:border-gray-400" do %>
                      <i class="fa-solid fa-users mr-3 fill-current"></i>
                      <span>Tabla</span>
                    <% end %>
                    <%= link_to winners_membership_path(member), class: "text-md text-white bg-indigo-900 rounded-lg mb-2 py-2 flex items-center px-2 border-transparent hover:border-gray-400" do %>
                      <i class="fa-solid fa-star mr-3 fill-current"></i>
                      <span>Wins</span>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class='flex flex-wrap mb-4 font-bold'>
    Unete a otro grupo &nbsp; <%= link_to "aquí", dashboard_join_groups_path, class: 'underline text-link' %>
  </div>

  <% if current_user.memberships.finished.present? %>
    <h2 class='text-lg mb-4 mt-4'>Grupos previos</h2>

    <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead>
              <tr class="bg-gray-200">
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Username
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Group
                </th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <% current_user.memberships.finished.each do |membership| %>
                <tr>
                  <td class="px-6 py-4 whitespace-nowrap text-left">
                    <div class="flex items-center">
                      <div>
                        <div class="text-sm font-medium text-gray-900">
                          <%= link_to membership.account.username, picks_membership_path(membership), class: "text-md text-indigo-900 flex items-center" %>
                        </div>
                        <div class="text-sm text-gray-500">
                          <%= membership.account.user.email %>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-left">
                    <div class="text-sm text-gray-900"><%= membership.group.name %></div>
                    <div class="text-sm text-gray-500"><%= membership.group.tournament.name %> - <%= membership.group.tournament.year %></div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>