<div class='p-6 container mx-auto'>
  <div class='flex flex-wrap mb-4'>
    <h2 class='text-2xl text-indigo-900 mr-4'>Hello, <%= current_user.full_name %></h2>
  </div>
  <% if !@memberships.present? %>
    <div class='flex flex-wrap mb-4 w-1/2'>
      <p class='text-md text-indigo-900'>Si no tienes ningún usuario crea uno ahora. Un <b>usuario</b> puede participar una vez por quiniela. Puedes crear muchos usuarios si lo deseas.</p>
    </div>
  <% end %>
  <div class='flex flex-wrap mb-4'>
    <%= link_to "Crear Usuario", new_account_path, class: 'btn btn--primary' %>
  </div>
  <% if @requests.present? || @memberships.present? %>
    <% if @memberships.active.present? %>
      <h2 class='text-lg mb-4'>Grupos Activo</h2>
      <div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 md:gap-8 mb-8'>
        <%= render @memberships.active %>
      </div>
    <% end %>
  <% end %>
  <% if current_user.accounts.present? %>
    <h2 class='text-lg mb-4'>Grupos a los que puedes entrar</h2>

    <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead>
              <tr class="bg-gray-200">
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Username
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Group
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Status
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                </th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <% current_user.accounts.each do |account| %>
                <% Group.where.not(id: account.group_ids).where(finished: false).each do |group| %>
                  <tr>
                    <td class="px-6 py-4 whitespace-nowrap">
                      <div class="flex items-center">
                        <div>
                          <div class="text-sm font-medium text-gray-900">
                            <%= account.username %>
                          </div>
                          <div class="text-sm text-gray-500">
                            <%= account.user.email %>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                      <div class="text-sm text-gray-900"><%= group.name %></div>
                      <div class="text-sm text-gray-500"><%= group.tournament.sport.name %> - <%= group.tournament.year %></div>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                      <% request = group.requests.where(id: account.request_ids)%>
                      <% if request.present? %>
                        <span class="px-2 mb-1 inline-flex text-xs leading-5 font-semibold rounded-full bg-blue-200 text-blue-800">
                          Admin not yet accepted
                        </span>
                        <div class="text-sm text-gray-500">Fecha de Solicitud: <%= request.first.created_at.in_time_zone(current_user.time_zone).to_formatted_s(:short) %></div>
                      <% else %>
                        <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-200 text-red-800">
                          Not a member
                        </span>
                      <% end %>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                      <% if !group.requests.where(id: account.request_ids).present? %>
                        <%= form_for Request.new do |f| %>
                          <%= f.hidden_field :group_id, value: group.id %>
                          <%= f.hidden_field :account_id, value: account.id %>
                          <%= f.submit 'Join', class: 'text-indigo-600 hover:text-indigo-900 bg-white cursor-pointer' %>
                        <% end %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            

              <!-- More people... -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>

  <% if current_user.memberships.finished.present? %>
    <h2 class='text-lg mb-4'>Quinielas anteriores</h2>

    <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead>
              <tr class="bg-gray-200">
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Username
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Group
                </th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <% current_user.memberships.finished.each do |membership| %>
                <tr>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="flex items-center">
                      <div>
                        <div class="text-sm font-medium text-gray-900">
                          <%= link_to membership.account.username, picks_membership_path(membership), class: "text-md text-indigo-900 flex items-center" %>
                        </div>
                        <div class="text-sm text-gray-500">
                          <%= membership.account.user.email %>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="text-sm text-gray-900"><%= membership.group.name %></div>
                    <div class="text-sm text-gray-500"><%= membership.group.tournament.name %> - <%= membership.group.tournament.year %></div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>