<div class='p-6 container mx-auto'>
  <% if current_user.accounts.present? %>
    <h2 class='text-xl mb-4 text-left font-bold'>Únete a la quiniela</h2>
    <p class='text-lg mb-4 text-left'>Debajo aparecen todos los <b>usernames</b> en esta cuenta <b><%= current_user.email %></b>. Para entrar a la quiniela simplemente ingresa presionando el botón de <b>solicitar acceso</b></p>
    <div class="lg:shadow lg:overflow-hidden lg:border-b lg:border-gray-200 sm:rounded-lg">
      <div class="lg:table w-full rounded min-w-full divide-y divide-gray-200">
        <div class="hidden lg:table-header-group bg-gray-200 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
          <div class="lg:table-cell px-6 py-3">Username</div>
          <div class="lg:table-cell px-6 py-3">Grupo</div>
          <div class="lg:table-cell px-6 py-3">Acciones</div>
        </div>
        <div class="grid grid-cols-1 gap-8 lg:table-row-group lg:bg-white divide-y divide-gray-200">
          <% current_user.accounts.each do |account| %>
            <% grupos = Group.where.not(id: account.group_ids).where(finished: false, private: false) %>
            <% grupos.each do |group| %>
              <div class="bg-white rounded-xl lg:rounded-none lg:table-row shadow-lg grid grid-cols-3">
                <div class="lg:table-cell px-6 py-6 pb-1 lg:py-3 lg:px-6 whitespace-nowrap text-left">
                  <div class="lg:hidden text-sm text-gray-500 text-left">Username</div>
                  <div class="text-sm font-medium text-gray-900 text-left"><%= account.username %></div>
                </div>
                <div class="lg:table-cell px-6 py-6 pb-2 lg:py-3 lg:px-6 text-left col-span-2">
                  <div class="lg:hidden text-sm text-gray-500 text-left">Grupo</div>
                  <div class="text-sm font-medium text-gray-900 text-left">
                    <%= group.name %>
                  </div>
                  <div class="text-sm text-gray-500"><%= group.tournament.name %> - <%= group.tournament.year %></div>
                </div>
                <div class="lg:table-cell px-6 py-6 pb-3 lg:py-3 lg:px-6 text-left col-span-3">
                  <div class="lg:hidden text-sm text-gray-500 text-left">Acciones</div>
                  <% request = group.requests.find_by(id: account.request_ids)%>
                  <% if request.present? %>
                    <% if request.denied? %>
                      <span class="px-2 mb-1 whitespace-no-wrap inline-flex text-xs leading-5 font-semibold rounded-full bg-red-200 text-red-800">
                        Solicitud negada
                      </span>                      
                    <% else %>
                      <span class="px-2 mb-1 whitespace-no-wrap inline-flex text-xs leading-5 font-semibold rounded-full bg-blue-200 text-blue-800">
                        Solicitud pendiente
                      </span>
                      <div class="text-sm text-gray-500 mb-4 lg:mb-0">Fecha de Solicitud: <%= request.created_at.in_time_zone(current_user.time_zone).to_formatted_s(:short) %></div>
                    <% end %>
                  <% else %>
                    <%= form_for Request.new do |f| %>
                      <%= f.hidden_field :group_id, value: group.id %>
                      <%= f.hidden_field :account_id, value: account.id %>
                      <%= f.submit 'Solicitar acceso', class: 'btn btn--primary py-1' %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>