<div class='p-6 container mx-auto'>
  <% if current_user.accounts.present? %>
    <h2 class='text-lg mb-4 text-left'>Unirte a otro grupo</h2>
    <div class="lg:shadow lg:overflow-hidden lg:border-b lg:border-gray-200 sm:rounded-lg">
      <div class="lg:table w-full rounded min-w-full divide-y divide-gray-200">
        <div class="hidden lg:table-header-group bg-gray-200">
          <div class="lg:table-cell px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Username</div>
          <div class="lg:table-cell px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Group</div>
          <div class="lg:table-cell px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Status</div>
          <div class="lg:table-cell px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Actions</div>
        </div>
        <div class="grid grid-cols-1 gap-8 lg:table-row-group lg:bg-white divide-y divide-gray-200">
          <% current_user.accounts.each do |account| %>
            <% grupos = Group.where.not(id: account.group_ids).where(finished: false) %>
            <% grupos.each do |group| %>
              <div class="bg-white rounded-xl lg:rounded-none lg:table-row shadow-lg grid grid-cols-2">
                <div class="lg:table-cell px-6 py-6 pb-1 lg:py-3 lg:px-6 whitespace-nowrap text-left">
                  <div class="lg:hidden text-sm text-gray-500 text-left">Username</div>
                  <div class="text-sm font-medium text-gray-900 text-left"><%= account.username %></div>
                </div>
                <div class="lg:table-cell px-6 py-6 pb-1 lg:py-3 lg:px-6 whitespace-nowrap text-left">
                  <div class="lg:hidden text-sm text-gray-500 text-left">Group</div>
                  <div class="text-sm font-medium text-indigo-900 text-left">
                    <%= group.name %>
                  </div>
                </div>
                <div class="lg:table-cell px-6 py-6 pb-1 lg:py-3 lg:px-6 whitespace-nowrap text-left">
                  <div class="lg:hidden text-sm text-gray-500 text-left">Status</div>
                  <% request = group.requests.where(id: account.request_ids)%>
                  <% if request.present? %>
                    <span class="px-2 mb-1 whitespace-no-wrap inline-flex text-xs leading-5 font-semibold rounded-full bg-blue-200 text-blue-800">
                      Admin not yet accepted
                    </span>
                    <div class="text-sm text-gray-500 mb-4 lg:mb-0">Fecha de Solicitud: <%= request.first.created_at.in_time_zone(current_user.time_zone).to_formatted_s(:short) %></div>
                  <% else %>
                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-200 text-red-800 whitespace-no-wrap">
                      Not a member
                    </span>
                  <% end %>
                </div>
                <div class="lg:table-cell px-6 py-6 pb-3 lg:py-3 lg:px-6 whitespace-nowrap">
                  <div class="lg:hidden text-sm text-gray-500 text-left">Actions</div>
                  <% if !group.requests.where(id: account.request_ids).present? %>
                    <%= form_for Request.new do |f| %>
                      <%= f.hidden_field :group_id, value: group.id %>
                      <%= f.hidden_field :account_id, value: account.id %>
                      <%= f.submit 'Join', class: 'btn btn--primary' %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
            <% if grupos.length == 0 %>
              <div class="bg-white rounded-xl lg:rounded-none lg:table-row shadow-lg grid-cols-full">
                No hay grupos para unirte
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>