<div class='p-6 container mx-auto text-left'>
  <p class='mb-1'>Zona Horaria: <b><%= current_user.time_zone %></b></p>
  <p class='mb-2 text-gray-600'><%= Time.current %></p>
  <% if @membership_week.forgot_picks %>
    <div class="px-4 py-2 mb-4 w-full flex justify-between items-center rounded bg-red-100 border-l-red-700 text-red-700 border-l-4" role="alert">
      <p class="text-left flex-1 self-center"><span class="font-bold">Aviso</span> - Olvidáste poner tus picks esta semana. Por lo tanto se te asigna lo que tiene el peor jugador de la semana: <b><%= @group_week.lowest_valid_points %> puntos</b></p>
    </div>
  <% end %>
  <div class="flex justify-between mb-2">
    <div class='w-48'>
      <div data-controller="toggle">
        <div class='flex items-center mb-2'>
          <h1 class='text-xl text-indigo-900 mr-4'>My Picks</h1>
          <button class="btn btn--primary"
            data-action="toggle#toggle"
            data-checkbox-list-target="count"
          >
            Filters
          </button>
        </div>
        <%= render 'filters' %>
      </div>
      <h1 class='text-xl text-left text-indigo-900 mb-4 w-14'>Week <%= @week.number %> points <b><%= @points %></b></h1>
    </div>
    <div>
      <h5 class='text-xl text-indigo-900 text-right'>Status</h5>
      <p class='text-gray-900 text-right'>Locked In <i class="fa-solid fa-lock fa-lg text-gray-500"></i></p>
      <p class='text-gray-900 text-right'>No team picked <i class="fa-solid fa-exclamation-circle fa-lg text-yellow-600"></i></p>
      <p class='text-gray-900 text-right'>Tie <i class="fa-solid fa-minus-square fa-lg text-gray-500"></i></p>
      <p class='text-gray-900 text-right'>Win <i class="fa-solid fa-check-square fa-lg text-green-600"></i></p>
      <p class='text-gray-900 text-right'>Lose <i class="fa-solid fa-times-circle fa-lg text-red-600"></i></p>
      <p class='text-gray-900 text-right'>Premium <i class="fa-solid fa-flag-checkered fa-lg text-indigo-600"></i></p>
      <p class='text-gray-900 text-right'>Monday Night <i class="fa-solid fa-m fa-lg text-gray-900"></i></p>
    </div>
  </div>
  <div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 md:gap-8 mb-8' id='picks'>
    <%= render 'picks' %>
  </div>
  <% if @untie_pick.present? %>
    <h1 class='text-xl text-indigo-900 mb-4'>Monday Night Untie</h1>
    <%= render 'untie_pick' %>
  <% end %>
</div>