<div class='p-4 container mx-auto text-left'>
  <div class="shadow overflow-x-scroll border-b border-gray-200 mb-4">
    <div class="table w-full rounded min-w-full">
      <div class="table-header-group bg-gray-200 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
        <div class="table-cell px-6 py-3">Posición</div>
        <div class="table-cell px-6 py-3">Puntos Totales</div>
      </div>
      <div class="table-row-group bg-white">
          <div class="table-row text-left even:bg-white odd:bg-gray-100">
             <div class="table-cell py-1 md:py-3 px-6 whitespace-nowrap">
              <div class="text-sm font-medium text-gray-900"><%= @membership.position %></div>
            </div>
            <div class="table-cell py-1 md:py-3 px-6 whitespace-nowrap">
              <div class="text-sm font-medium text-gray-900"><%= @membership.total %></div>
            </div>
          </div>
      </div>
    </div>
  </div>

  <div class="shadow overflow-x-scroll border-b border-gray-200">
    <div class="table w-full rounded min-w-full">
      <div class="table-header-group bg-gray-200 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
        <%= sort_link(@q, :week_number, 'Semana', default_order: :desc, class: 'table-cell px-6 py-3') %>
        <%= sort_link(@q, :points, 'Puntos', class: 'table-cell px-6 py-3') %>
      </div>
      <div class="table-row-group bg-white">
        <% @membership_weeks.each do |membership_week| %>
          <div class="table-row text-left even:bg-white odd:bg-gray-100">
            <div class="table-cell py-1 md:py-3 px-6 whitespace-nowrap">
              <div class="text-sm font-medium text-gray-900"><%= membership_week.week.number %></div>
            </div>
            <div class="table-cell py-1 md:py-3 px-6 whitespace-nowrap">
              <div class="text-sm font-medium text-gray-900"><%= membership_week.points %></div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>