<div class='text-left px-4'>
  <div class='hidden md:flex flex-col pb-2'>
    <h3 class="text-sm uppercase text-gray-600 pb-2">User Time Zone <b><%= current_user.time_zone %></b><span class='ml-2 font-bold underline'><%= link_to 'Edit', edit_user_registration_path %></span></h3>
    <h4 class="text-sm uppercase text-gray-600"><%= Time.current.to_formatted_s(:long) %></h4>
  </div>
  <div data-controller="toggle" class='mb-4'>
    <div class='flex items-center mb-2'>
      <button class="btn btn--primary"
        data-action="toggle#toggle"
        data-checkbox-list-target="count"
      >
        Filters
      </button>
    </div>
    <%= render 'filters' %>
  </div>

  <%= search_form_for @q, url: table_membership_path(@membership), data: { controller: 'debounce',
                                                    debounce_target: 'form',
                                                    turbo_frame: 'search',
                                                    turbo_action: 'advance' }, class: 'mb-4' do |f| %>
    <%= f.search_field :account_username_or_account_user_full_name_or_account_user_email_cont, placeholder: "Buscar usuarios", autocomplete: "off", class: "border border-blue-500 rounded p-2", data: { action: "input->debounce#search" } %>
    <%= f.submit 'Search', class: 'hidden' %>
  <% end %>
</div>

<%= render partial: 'membership_weeks_table', locals: { memberships_weeks: @memberships_weeks, matches: @matches, pagy: @pagy } %>

