<table class="email-table">
  <tbody>
    <tr class="header-row">
      <td>
        <h1>Hola, <%= @user.full_name %></h1>
      </td>
    </tr>

    <tr class="body-row">
      <td>
        <p class='text-light text-indigo'>
          Tu usuario <b><%= @membership.account.username %></b> ha sido agregado a la quiniela <b><%= @membership.group.name %> - <%= @membership.group.tournament.year %></b> correctamente. Puedes ingresar a poner tus picks.
        </p>
      </td>
    </tr>

    <tr class="body-row">
      <td>
        <p class='text-light'>
          No olvides llenar tus picks antes de que inicie cada juego.
        </p>
        <p><%= link_to 'Ir a mis picks', picks_membership_url(@membership) %></p>
      </td>
    </tr>

    <hr />

    <tr class="footer-row">
      <td class='text-indigo'>
        <p>Este correo es automatizado</p>
      </td>
    </tr>
  </tbody>
</table>
