<table class="email-table">
  <tbody>
    <tr class="body-row">
      <td>
        <p class='text-bold'>
          <%= @membership.group.name %>
        </p>
      </td>
    </tr>

    <tr class="header-row">
      <td>
        <h1>Heads up, <%= @membership.account.username %>. You have some missing picks this week!</h1>
      </td>
    </tr>

    <tr class="body-row">
      <td>
        <p>
          These are the picks you have not yet picked
        </p>
        <% @membership.picks.includes(:match).where(membership_week_id: @membership_week.id, picked_team: nil).each do |pick| %>
          <p>
            <%= pick.match.visit_team.short_name %> @ <%= pick.match.home_team.short_name %>. <%= pick.match.start_time ? pick.match.start_time.in_time_zone(@user.time_zone).to_formatted_s(:short) : 'TBA'  %>
          </p>
        <% end %>
    
        <p class='text-light'>
          Don't forget to fill them out in our website before kick-off.
        </p>
        <p><%= link_to 'Go to my picks', picks_membership_url(@membership) %></p>
      </td>
    </tr>

    <hr />

    <tr class="footer-row">
      <td>
        <p>This is an automated email. Our support email is</p>
        <a href="mailto:quinflmty@yahoo.com">quinflmty@yahoo.com</a>
      </td>
    </tr>
  </tbody>
</table>
