<div class='bg-white px-6 pt-3 shadow-sm'>
  <div class='flex flex-wrap justify-start lg:justify-between mb-2'>
    <div class="flex items-center">
      <%= link_to 'Admin', admin_root_path, class: 'text-md text-indigo-900 mr-3' %>
      <div class="text-md text-indigo-900 mr-3">&#x2f;</div>
      <%= link_to @membership.group.name, table_admin_group_path(@membership.group), class: 'text-md text-indigo-900 mr-3' %>
      <div class="text-md text-indigo-900 mr-3">&#x2f;</div>
      <div class='text-md text-indigo-900'><b><%= @membership.account.username %></b></div>
    </div>
    <div class="flex items-center">
      <% if @membership.group.tournament.weeks.present? %>
        <%= link_to admin_week_path(@membership.group.tournament.current_week), class: "text-md text-gray-600 flex items-center hover:text-indigo-900 py-3 px-3" do %>
          <i class="fa-solid fa-calendar-week mr-2 fill-current"></i>
          <span>Week <%= @membership.group.tournament.current_week.number %></span>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="flex">
    <%= link_to picks_admin_group_membership_path(@membership.group, @membership), class: "text-md text-indigo-900 flex items-center border-b-2 pb-3 px-2 #{current_page?(picks_admin_group_membership_path(@membership.group, @membership)) ? 'border-orange-400' : 'border-transparent hover:border-gray-400'}" do %>
      <i class="fa-solid fa-star mr-3 fill-current"></i>
      <span>Picks</span>
    <% end %>
    <%= link_to settings_admin_group_membership_path(@membership.group, @membership), class: "text-md text-indigo-900 flex items-center border-b-2 pb-3 px-2 #{current_page?(settings_admin_group_membership_path(@group, @membership)) ? 'border-orange-400' : 'border-transparent hover:border-gray-400'}" do %>
      <i class="fa-solid fa-cog mr-3 fill-current"></i>
      <span>Settings</span>
    <% end %>
  </div>
</div>
