<%= render 'show_header' %>

<div class='p-6 container mx-auto'>
  <div data-controller="toggle" class='mb-4'>
    <div class='flex items-center mb-2'>
      <h1 class='text-xl text-indigo-900 mr-4'><%= @membership.account.username %>'s Picks</h1>
      <h1 class='text-xl text-indigo-900 mr-4'>Week <%= params[:week_id] ? Week.find_by(id: params[:week_id]).number : @week.number %></h1>
      <button class="btn btn--primary mr-3"
        data-action="toggle#toggle"
        data-target="checkbox-list.count"
      >
        Filters
      </button>
      <%= link_to 'Settings', settings_admin_group_membership_path(@membership.group, @membership), class: 'btn btn--danger' %>
    </div>
    <%= render 'filters' %>
  </div>

  <h1 class='text-xl text-indigo-900 mb-4'>Week <%= @week.number %> points <b><%= @membership.membership_weeks.find_by(week: @week).points %></b></h1>
  <div class="mb-3">
    <h5 class='text-xl text-indigo-900 text-left'>Status</h5>
    <p class='text-gray-900 text-left'>Locked In <i class="fas fa-lock fa-lg text-gray-500"></i></p>
    <p class='text-gray-900 text-left'>No team picked <i class="fas fa-exclamation-circle fa-lg text-yellow-600"></i></p>
    <p class='text-gray-900 text-left'>Tie <i class="fas fa-minus-square fa-lg text-gray-500"></i></p>
    <p class='text-gray-900 text-left'>Win <i class="fas fa-check-square fa-lg text-green-600"></i></p>
    <p class='text-gray-900 text-left'>Lose <i class="fas fa-times-circle fa-lg text-red-600"></i></p>
    <p class='text-gray-900 text-left'>Premium <i class="fas fa-flag-checkered fa-lg text-indigo-600"></i></p>
    <p class='text-gray-900 text-left'>Monday Night <i class="fab fa-medium fa-lg text-gray-900"></i></p>
  </div>

  <h4 class='text-xl text-indigo-900'>After modifying any of the picks, these changes need to be reflected in the public table positions.</h4>
  <h4 class='text-xl text-indigo-900 mr-4'>To do so, please press these buttons below in order.</h4>
  <%= button_to '1 - Update Picks and Week Points', update_picks_admin_group_path(id: @membership.group.id, week_id: params[:week_id] ? params[:week_id] : @week.id), class: 'btn btn--primary py-1 m-1 inline-block mb-4', data: { confirm: 'This will update all picks of current week', disable_with: 'loading...' } %>
  <%= button_to '2 - Update Total Points', update_total_points_admin_group_path(id: @membership.group.id, week_id: params[:week_id] ? params[:week_id] : @week.id), class: 'btn btn--primary py-1 m-1 inline-block mb-4', data: { confirm: 'This will update all picks of current week', disable_with: 'loading...' } %>

  <div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 md:gap-8 mb-8'>
    <%= render 'picks' %>
  </div>
  <% if @untie_pick.present? %>
    <h1 class='text-xl text-indigo-900 mb-4'>Monday Night Untie</h1>
    <%= render 'untie_pick' %>
  <% end %>
</div>