<%= render 'show_header' %>

<div class='p-6 container mx-auto'>
  <div data-controller="toggle" class='mb-4'>
    <div class='flex items-center mb-2'>
      <h1 class='text-xl text-indigo-900 mr-4'><%= @membership.account.username %>'s Picks</h1>
      <h1 class='text-xl text-indigo-900 mr-4'>Week <%= params[:week_number] || @current_week.number %></h1>
      <button class="btn btn--primary mr-3"
        data-action="toggle#toggle"
        data-target="checkbox-list.count"
      >
        Filters
      </button>
      <%= link_to 'Settings', settings_admin_group_membership_path(@membership.group, @membership), class: 'btn btn--danger' %>
    </div>
    <%= render 'filters' %>
  </div>

  <h1 class='text-xl text-indigo-900 mb-4'>Week <%= @current_week.number %> points <b><%= @membership.membership_weeks.find_by(week: @current_week).points %></b></h1>
  <div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 md:gap-8 mb-8'>
    <%= render 'picks' %>
  </div>
  <% if @untie_pick.present? %>
    <h1 class='text-xl text-indigo-900 mb-4'>Monday Night Untie</h1>
    <%= render 'untie_pick' %>
  <% end %>
</div>