<div class='flex flex-col items-center px-4'>
  <div class='w-full md:w-1/3  bg-gray-300 shadow-xl rounded-xl p-6'>
  <div class='flex items-center justify-between mb-4'>
    <h2 class='text-2xl font-light '>Editar <%= resource_name.to_s.humanize %></h2>
    <%= link_to "Regresar", :back, class: 'bg-white shadow px-3 py-2 text-indigo-900 rounded-lg text-sm self-end' %>
  </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class='mb-4'>
        <%= f.label :email, class: 'label' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input' %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class='mb-4'>
        <%= f.label :password, class: 'label' %> <i>(déjalo en blanco si no desea cambiarla)</i><br />
        <%= f.password_field :password, autocomplete: "new-password", class: 'input'  %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> carácteres mínimo</em>
        <% end %>
      </div>

      <div class='mb-4'>
        <%= f.label :password_confirmation, class: 'label' %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input'  %>
      </div>

      <div class='mb-4'>
        <%= f.label :current_password, class: 'label' %> <i>(necesitamos su contraseña actual para confirmar cambios)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password", class: 'input' %>
      </div>

      <div class='mb-8'>
        <%= f.label :full_name, class: 'label' %><br />
        <%= f.text_field :full_name, autofocus: true, autocomplete: "full-name", class: 'input' %>
      </div>

      <div class='mb-8'>
        <%= f.label :phone, class: 'label' %><br />
        <%= f.text_field :phone, autofocus: true, autocomplete: "phone", class: 'input' %>
      </div>

      <div class="mb-4">
        <%= f.submit "Actualizar", class: 'bg-indigo-900 px-3 py-2 text-white rounded-lg text-sm cursor-pointer' %>
      </div>
    <% end %>

  </div>
</div>