<div class="rounded-xl p-6 shadow-lg bg-white">
  <div class='grid grid-cols-2 gap-6 mb-4'>
    <div class='flex flex-col'>
      <% if match.winning_team == match.visit_team %>
        <span class='font-extrabold'>WIN</span>
      <% end %>
      <p class='text-xs font-light text-gray-500'>
        Visit Team
      </p>
      <h2 class='text-lg mb-4'>
        <%= match.visit_team.name %>
      </h2>
    </div>
    <div class='flex flex-col text-right'>
      <% if match.winning_team == match.home_team %>
        <span class='font-extrabold'>WIN</span>
      <% end %>
      <p class='text-xs font-light text-gray-500'>
        Home Team
      </p>
      <h2 class='text-lg mb-4'>
        <%= match.home_team.name %>
      </h2>
    </div>
  </div>
  <div class='grid grid-cols-2 gap-6 mb-4'>
    <div class='flex flex-col'>
      <p class='text-xs font-light text-gray-500'>
        Start Time
      </p>
      <h2 class='text-lg mb-4'>
        <%= match.start_time.in_time_zone(current_user.time_zone).to_formatted_s(:short)  %>
      </h2>
    </div>
    <div class='flex flex-col items-end text-right'>
      <p class='text-xs font-light text-gray-500'>
        Show Time
      </p>
      <h2 class='text-lg mb-4'>
        <%= match.show_time.in_time_zone(current_user.time_zone).to_formatted_s(:short)  %>
      </h2>
    </div>
  </div>
  <div class='flex justify-between'>
    <%= link_to "Edit", edit_admin_match_path(match), class: 'btn btn--warning' %>
    <% if match.winning_team.nil? %>
      <%= button_to "Fetch winner", fetch_winner_admin_match_path(match), remote: true, class: 'btn btn--success', data: { confirm: 'This will fetch the winner from espn and will not do anything if no winner is set.', disable_with: 'loading...' } %>
    <% end %>
  </div>
</div>