<div class="rounded-xl p-6 shadow-lg bg-white <%= 'border-2 border-indigo-600' if match.untie %>">
  <div class='grid grid-cols-2 gap-6 mb-4'>
    <div class='flex flex-col'>
      <p class='text-xs font-light text-gray-500'>
        Visit Team
      </p>
      <span class="font-bold <%= 'text-green-600' if match.winning_team == match.visit_team %>"><%= match.visit_team.short_name %></span>
    </div>
    <div class='flex flex-col items-end text-right'>
      <p class='text-xs font-light text-gray-500'>
        Home Team
      </p>
      <span class="font-bold <%= 'text-green-600' if match.winning_team == match.home_team %>"><%= match.home_team.short_name %></span>
    </div>
  </div>
  <div class='flex justify-between text-center mb-4 items-center'>
    <%= image_tag "#{match.visit_team.short_name}.svg", class: 'w-20' %>
    <div>
      <p class='text-xs font-light text-gray-500'>
        Start Time
      </p>
      <h2 class='text-sm md:text-md mb-4'>
        <%= match.start_time ? match.start_time.in_time_zone(current_user.time_zone).to_formatted_s(:short) : 'TBA' %>
      </h2>
      <p class='text-xs font-light text-gray-500'>
        Lock Time
      </p>
      <% if match.start_time %>
        <% if match.start_time > Time.current %>
          <% if match.start_time - 10.minutes < Time.current %>
            <h2 class="text-red-600 font-bold text-md">
              <%= "in #{distance_of_time_in_words_to_now(match.start_time)}" %>
            </h2>
          <% else %>
            <h2 class='text-sm md:text-md'>
              <%= "in #{distance_of_time_in_words_to_now(match.start_time)}" %>
            </h2>
          <% end %>
        <% else %>
          <b>LOCKED</b>
        <% end %>
      <% else %>
        <b>TBA</b>
      <% end %>
    </div>
    <%= image_tag "#{match.home_team.short_name}.svg", class: 'w-20 flip' %>
  </div>
  <div class='flex justify-between'>
    <%= link_to "Edit", edit_admin_match_path(match), class: 'btn btn--warning' %>
  </div>
</div>