<%= form_with model: [:admin, @sport] do |f| %>
  <% if @sport.errors.any? %>
    <div>
      <ul>
        <% @sport.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class='mb-4'>
    <%= f.label :name, class: 'label' %>
    <%= f.text_field :name, class: 'input', required: true %>
  </div>
  <%= f.submit class: 'btn btn--primary' %>
<% end %>


