<div class="rounded-xl p-6 shadow-lg bg-white" id="pick-<%= pick.id %>">
  <div class='flex justify-between items-center mb-4'>
    <div class='mr-4'>
      <p class='text-xs font-light text-gray-500'>
        Home Team
      </p>
      <h2 class='text-lg mb-4'>
        <%= pick.match.home_team.name %>
      </h2>
    </div>
    <div>
      <p class='text-xs font-light text-gray-500'>
        Visit Team
      </p>
      <h2 class='text-lg mb-4'>
        <%= pick.match.visit_team.name %>
      </h2>
    </div>
  </div>
  <div class='flex justify-between items-center mb-4'>
    <div class='mr-4'>
      <p class='text-xs font-light text-gray-500'>
        Start Time
      </p>
      <h2 class='text-lg mb-4'>
        <%= pick.match.start_time %>
      </h2>
    </div>
  </div>
  <p class='text-xs font-light text-gray-500'>
    Choose Pick
  </p>
  <div class='flex justify-between'>
    <% if Time.now < pick.match.start_time - 1.hour && pick.picked_team != pick.match.visit_team %>
      <%= form_with model: [:admin, pick] do |f| %>
        <%= f.hidden_field :picked_team_id, value: pick.match.visit_team.id %>
        <%= f.submit pick.match.visit_team.short_name, class: 'btn btn--primary' %>
      <% end %>
    <% else %>
      <h2 class='text-lg mb-4'>
        <%= pick.visit_team.short_name %>
      </h2>
    <% end %>
    <% if Time.now < pick.match.start_time - 1.hour && pick.picked_team != pick.match.home_team %>
      <%= form_with model: [:admin, pick] do |f| %>
        <%= f.hidden_field :picked_team_id, value: pick.match.home_team.id %>
        <%= f.submit pick.match.home_team.short_name, class: 'btn btn--primary' %>
      <% end %>
    <% else %>
      <h2 class='text-lg mb-4'>
        <%= pick.home_team.short_name %>
      </h2>
    <% end %>
  </div>
</div>