<% suspended_memberships = request.account.user.memberships.suspended %>
<div class="table-row text-left even:bg-white odd:bg-gray-100">
  <div class="table-cell py-1 md:py-3 px-6 whitespace-nowrap">
    <div class="text-sm font-medium text-gray-900"><%= request.account.username %></div>
  </div>
  <div class="table-cell py-1 md:py-3 px-6 whitespace-nowrap">
    <div class="text-sm font-medium text-gray-900"><%= request.account.user.full_name %></div>
  </div>
  <div class="table-cell py-1 md:py-3 px-6 whitespace-nowrap">
    <div class="text-sm font-medium text-indigo-600">
      <a href="tel:<%= request.account.user.phone %>"><%= request.account.user.phone %></a>
    </div>
  </div>
  <div class="table-cell py-1 md:py-3 px-6 whitespace-nowrap">
    <div class="text-sm text-gray-900"><%= request.account.user.email %></div>
  </div>
  <div class="table-cell py-1 md:py-3 px-6 whitespace-nowrap">
    <div class="text-sm text-gray-900"><%= request.account.user.accounts.with_group(request.group.id).count %></div>
  </div>
  <div class="table-cell py-1 md:py-3 px-6 whitespace-nowrap">
    <div class="text-sm text-gray-900"><%= request.account.memberships.count %></div>
  </div>
  <div class="table-cell py-1 md:py-3 px-6 whitespace-nowrap">
    <div class="text-sm text-gray-900"><%= suspended_memberships.count %></div>
  </div>
  <div class="table-cell py-1 md:py-3 px-6 whitespace-nowrap">
    <div class='flex'>
      <% if suspended_memberships.count > 0 %>
        <%= button_to 'Accept', [:admin, request], params: { status: 'accept' }, form: { data: { turbo_confirm: 'This user has had a previous suspended membership. Are you sure?' } }, class: 'btn btn--primary py-1' %>
      <% else %>
        <%= button_to 'Accept', [:admin, request], params: { status: 'accept' }, class: 'btn btn--primary py-1' %>
      <% end %>
      <%= button_to 'Reject', [:admin, request], params: { status: 'reject' }, form: { data: { turbo_confirm: 'This will reject the request. Are you sure?' } }, class: 'btn btn--danger py-1 ml-4' %>
    </div>
  </div>
</div>