<div class='grid grid-cols-3 px-2 py-1'>
  <div class='text-center'>
    <h3 class='font-bold text-xs text-gray-500'>Username</h3>
  </div>
  <div class='text-center'>
    <h3 class='font-bold text-xs text-gray-500'>Total Points</h3>
  </div>
  <div class='text-center'>
    <h3 class='font-bold text-xs text-gray-500'>Week Points</h3>
  </div>
</div>
<% @accounts.each do |account| %>
  <%= link_to picks_admin_group_membership_path(@group, account.memberships.first), class: 'grid grid-cols-3 p-2 hover:bg-gray-300' do %>
    <div class='flex flex-no-wrap items-center text-center'>
      <span class="rounded bg-black py-1 px-1 text-white text-xs font-bold mr-1 "><%= account.memberships.first.position %></span>
      <p class='font-bold text-xs'><%= account.username %></p>
    </div>
    <div class='text-center'>
      <p class='font-bold text-xs'><%= account.memberships.first.total %></p>
    </div>
    <div class='text-center'>
      <p class='font-bold text-xs'><%= account.memberships.first.current_membership_week.points %></p>
    </div>
  <% end %>
<% end %>