<p class='mb-2'>Usa el formaulario debajo para editar configuraciones generales del grupo</p>
<%= form_with model: [:admin, @group] do |f| %>
  <% if @group.errors.any? %>
    <div>
      <ul>
        <% @group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class='mb-4'>
    <%= f.label :name, class: 'label' %>
    <%= f.text_field :name, class: 'input', required: true %>
  </div>
  <div class='mb-4'>
    <%= f.label :finished, class: 'checkbox-toggle mb-4' do %>
      <span class='checkbox-toggle__text'>Marcar como terminado?</span>
      <%= f.check_box :finished, class: 'checkbox-toggle__input' %>
      <div class='checkbox-toggle__fill'></div>
    <% end %>
  </div>
  <div class='mb-4' data-controller='select'> 
    <%= f.label :tournament, class: 'label' %>
    <%= f.collection_select :tournament_id, Tournament.all, :id, :with_year, {}, { class: 'select2' } %>
  </div>
  <div class='mb-4'>
    <%= f.label :private, class: 'checkbox-toggle mb-4' do %>
      <span class='checkbox-toggle__text'>Private</span>
      <%= f.check_box :private, class: 'checkbox-toggle__input' %>
      <div class='checkbox-toggle__fill'></div>
    <% end %>
  </div>
  <%= f.submit class: 'btn btn--primary' %>
<% end %>



