<div class="rounded-xl p-6 shadow-lg bg-white">
  <div class="flex justify-between items-center mb-4">
    <h2 class='text-lg'>
      <%= group.name %>
    </h2>
    <% if group.finished %>
      <h2 class='text-md text-gray-600'>
        Terminado
      </h2>
    <% end %>
  </div>
  
  <div class='flex justify-between'>
    <%= link_to "Tabla", members_admin_group_path(group), class: 'btn btn--primary' %>
    <%= link_to "Editar", edit_admin_group_path(group), class: 'btn btn--primary' %>
    <%= link_to "Configuración", settings_admin_group_path(group), class: 'btn btn--primary' %>
    <%= link_to "Solicitudes", requests_admin_group_path(group), class: 'btn btn--warning' %>
  </div>
</div>