<div class="rounded-xl shadow-lg bg-white">
  <div class="flex justify-between mb-4 px-6 pt-6">
    <div>
      <div class="text-md text-indigo-900 flex items-center">
        <%= group.name %>
      </div>
      <p class="text-sm text-left text-gray-500">
        <%= group.tournament.name %> - torneo
      </p>
      <p class="text-sm text-left text-gray-500">
        <%= group.tournament.year %> - año
      </p>
    </div>
    <div>
    <% if group.finished? %>
      <span class="px-3 py-1 block text-xs leading-5 font-semibold rounded-full bg-blue-200 text-blue-800 mb-2">
        Terminado
        <i class="fa-solid fa-table ml-3 fill-current"></i>
      </span>
    <% end %>
    <% if group.private? %>
      <span class="px-3 py-1 block text-xs leading-5 font-semibold rounded-full bg-red-200 text-red-800 mb-2">
        Terminado
        <i class="fa-solid fa-lock ml-3 fill-current"></i>
      </span>
    <% end %>
    </div>
  </div>
  
  <div class='flex justify-around gap-0'>
    <%= link_to members_admin_group_path(group), class: "text-indigo-700 py-2 px-2" do %>
      <span>Tabla</span>
      <i class="fa-solid fa-table ml-2"></i>
    <% end %>
    <%= link_to settings_admin_group_path(group), class: "text-indigo-700 py-2 px-2" do %>
      <span>Configuración</span>
      <i class="fa-solid fa-cog ml-2"></i>
    <% end %>
    <% if !group.finished %>
      <%= link_to requests_admin_group_path(group), class: "text-indigo-700 py-2 px-2" do %>
        <span>Solicitudes</span>
        <i class="fa-solid fa-list-check ml-2"></i>
      <% end %>
    <% end %>
  </div>
</div>