<div class="rounded-xl p-6 shadow-lg bg-white">
  <h2 class='text-lg mb-2'>
    <%= group.name %>
  </h2>
  <% if group.finished %>
  <h2 class='text-md mb-4 text-gray-600'>
    Terminado
  </h2>
  <% end %>
  
  <div class='flex justify-between'>
    <%= link_to "Tabla", members_admin_group_path(group), class: 'btn btn--primary' %>
    <%= link_to "Editar", edit_admin_group_path(group), class: 'btn btn--primary' %>
    <%= link_to "Configuración", settings_admin_group_path(group), class: 'btn btn--primary' %>
    <%= link_to "Solicitudes", requests_admin_group_path(group), class: 'btn btn--warning' %>
  </div>
</div>