<div class="rounded-xl p-6 shadow-lg bg-white">
  <div class="flex justify-between mb-4">
    <div>
      <div class="text-md text-indigo-900 flex items-center">
        <%= group.name %>
      </div>
      <p class="text-sm text-left text-gray-500">
        <%= group.tournament.name %> - torneo
      </p>
      <p class="text-sm text-left text-gray-500">
        <%= group.tournament.year %> - año
      </p>
    </div>
    <% if group.finished %>
      <div class='text-md text-gray-600'>
        Terminado
      </div>
    <% end %>
    <% if group.private %>
      <div class='text-md text-red-600'>
        Privado
      </div>
    <% end %>
  </div>
  
  <div class='flex justify-between flex-wrap gap-2'>
    <%= link_to "Tabla", members_admin_group_path(group), class: 'btn btn--primary' %>
    <%= link_to "Editar", edit_admin_group_path(group), class: 'btn btn--primary' %>
    <%= link_to "Configuración", settings_admin_group_path(group), class: 'btn btn--primary' %>
    <% if !group.finished %>
      <%= link_to "Solicitudes", requests_admin_group_path(group), class: 'btn btn--warning' %>
    <% end %>
  </div>
</div>