<div class='p-4 container mx-auto'>
  <h2 class='text-lg text-left mb-4'><%= @inactive_accounts.count %> Cuentas inactivas. Estos "usernames" no se registraron en la quiniela este año</h2>

  <div class="shadow overflow-x-scroll border-b border-gray-200 mb-4">
    <div class="table w-full rounded min-w-full">
      <div class="table-header-group bg-gray-200 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
        <div class="table-cell px-6 py-3">Username</div>
        <div class="table-cell px-6 py-3">Name</div>
        <div class="table-cell px-6 py-3">Email</div>
        <div class="table-cell px-6 py-3">Phone</div>
        <div class="table-cell px-6 py-3">Grupos</div>
        <div class="table-cell px-6 py-3">Fecha de Creación</div>
      </div>
      <div class="table-row-group bg-white">
        <% @inactive_accounts.each do |account| %>
          <div class="table-row text-left even:bg-white odd:bg-gray-100">
            <div class="table-cell py-1 md:py-3 px-6 whitespace-nowrap">
              <div class="text-sm font-medium text-gray-900"><%= account.username %></div>
            </div>
            <div class="table-cell py-1 md:py-3 px-6 whitespace-nowrap">
              <div class="text-sm font-medium text-gray-900"><%= account.user.full_name %></div>
            </div>
            <div class="table-cell py-1 md:py-3 px-6 whitespace-nowrap">
              <div class="text-sm font-medium text-gray-900"><%= account.user.email %></div>
            </div>
            <div class="table-cell py-1 md:py-3 px-6 whitespace-nowrap">
              <div class="text-sm font-medium text-indigo-600">
                <a href="tel:<%= account.user.phone %>"><%= account.user.phone %></a>
              </div>
            </div>
            <div class="table-cell py-1 md:py-3 px-6 whitespace-nowrap gap-x-4">
              <% account.memberships.each do |membership| %>
                <%= link_to "#{membership.group.name} - #{membership.group.tournament.year}", picks_admin_group_membership_path(membership.group, membership), class: 'px-2 mb-1 whitespace-no-wrap inline-flex text-xs leading-5 font-semibold rounded-full bg-blue-200 text-blue-800' %>
              <% end %>
              
              <% if account.memberships.count == 0 %>
                <div class="text-sm font-medium text-gray-900">No tiene membresias</div>
              <% end %>
            </div>
            <div class="table-cell py-1 md:py-3 px-6 whitespace-nowrap">
              <div class="text-sm font-medium text-gray-900"><%= account.created_at.to_formatted_s(:long) %></div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>