<div class='p-4 container mx-auto'>
  <h2 class='text-lg text-left mb-2'>Add a user for <b><%= @group.name %> - <%= @group.tournament.year %> </b></h2>

  <%= form_with model: [:admin, Membership.new] do |f| %>
    <div class='w-full md:w-1/3 md:mr-auto flex flex-col align-start mb-4'>
      <%= f.hidden_field :group_id, value: @group.id %>
      <div data-controller='select'> 
        <%= f.label :account_id, class: 'label' %>
        <%= f.collection_select :account_id, Account.where.not(id: @group.account_ids), :id, :account_detail, { required: true }, { class: 'select2 w-full mb-2' } %>
      </div>
      <%= f.submit class: 'btn btn--primary' %>
    </div>
  <% end %> 

  <h2 class='text-lg text-left mb-4'>Requests for <b><%= @group.name %> - <%= @group.tournament.year %></b></h2>

  <div class="shadow overflow-x-scroll border-b border-gray-200 mb-4">
    <div class="table w-full rounded min-w-full">
      <div class="table-header-group bg-gray-200 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
        <div class="table-cell px-6 py-3">Username</div>
        <div class="table-cell px-6 py-3">Name</div>
        <div class="table-cell px-6 py-3">Phone</div>
        <div class="table-cell px-6 py-3">Email</div>
        <div class="table-cell px-6 py-3">Accounts</div>
        <div class="table-cell px-6 py-3 w-32">Prev Memberships</div>
        <div class="table-cell px-6 py-3 w-32">Suspended Memberships</div>
        <div class="table-cell px-6 py-3 w-56">Actions</div>
      </div>
      <div class="table-row-group bg-white">
        <%# request partial in admin/requests/_request %>
        <%= render @requests %>
        <% if @requests.length == 0 %>
          <div class="col-span-full rounded-xl p-6 shadow-lg bg-white">
            <div class="flex text-md text-indigo-900 items-center">
              No requests found
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>