<div class='p-6 container mx-auto text-left'>
  <%= link_to "#{@group.tournament.name} - #{@group.tournament.year}", admin_tournament_path(@group.tournament), class: 'text-sm font-medium text-indigo-600' %>
  <p class='mb-2'>Semana Actual: <%= @current_week ? @current_week.number : 'No hay semanas' %></p>
  <p class='mb-2'>Membresias Activas: <%= @group.memberships.active.length %></p>
  <p class='mb-2'>Solicitudes Pendientes: <%= @group.requests.pending.length %></p>
  <p class='mb-2'>Solicitudes Rechazadas: <%= @group.requests.denied.length %></p>
  <p class='mb-2'>Solicitudes Rechazadas: <%= @group.requests.denied.length %></p>
  
  <p class='mb-2'> Proximo Juego:
    <% if @next_match %>
      <span><%= @next_match.visit_team.short_name %> @ <%= @next_match.home_team.short_name %> <%= @next_match.start_time %></span>
    <% else %>
      <span>No hay juegos</span>
    <% end %>
  </p>

  <%= button_to "Actualizar membresias", [:update_memberships, :admin, @group], class: 'btn btn--primary py-1' %>
</div>