<div class='overflow-x-auto' data-controller='searchable'>
  <div class='flex flex-col pb-2 md:px-4 md:pb-4'>
    <h3 class="hidden md:block text-sm uppercase text-gray-600 pb-2">User Time Zone <b><%= current_user.time_zone %></b><span class='ml-2 font-bold underline'><%= link_to 'Edit', edit_user_registration_path %></span></h3>
    <h4 class="hidden md:block text-sm uppercase text-gray-600"><%= Time.current.in_time_zone(current_user.time_zone).to_formatted_s(:long) %></h4>
  </div>
  <div class='px-4 mb-4'>
    <%= link_to 'Members Forgetting Picks', members_forgetting_admin_group_path(@group), class: 'btn btn--primary py-1' %>
  </div>
  <div data-controller="toggle" class='mb-4 px-4'>
    <div class='flex items-center mb-2'>
      <button class="btn btn--primary"
        data-action="toggle#toggle"
        data-target="checkbox-list.count"
      >
        Filters
      </button>
    </div>
    <%= render 'filters' %>
  </div>
  <div class='w-full md:w-1/2 px-4 pb-4' data-controller='search' data-search-url="autocomplete">
    <div class='relative'>
      <input type="text" class='input' placeholder="Search usernames" data-action="keyup->search#search">
      <div class='absolute z-70 mt-1 bg-white w-full overflow-hidden rounded-lg shadow-lg' data-target='search.results'>
      </div>
    </div>
  </div>
  <div class='overflow-hidden'>
    <div class='overflow-scroll w-full'>
      <table>
        <thead>
          <tr>
            <th class="sticky z-40 left-0 top-0 p-2 font-bold text-sm uppercase bg-gray-300 text-gray-700 table-cell">Matches</th>
            <% @matches.each do |match| %>
              <th class="sticky z-30 top-0 p-2 font-bold text-sm uppercase text-gray-600 table-cell bg-gray-200">
                <div class="w-24">
                  <%= match.visit_team.short_name %>
                  <span class='text-black font-extrabold'><%= match.picks.where(membership_week: @group.membership_weeks, picked_team: match.visit_team).count %></span>
                  @ <%= match.home_team.short_name %>
                  <span class='text-black font-extrabold'><%= match.picks.where(membership_week: @group.membership_weeks, picked_team: match.home_team).count %></span>
                  <% if match.untie %>
                    <span class="bg-black m-1 px-1 py-1 text-xs text-white uppercase">MNF</span>
                  <% end %>
                  <% if match.premium %>
                    <span class="bg-green-600 m-1 px-1 py-1 text-xs text-white uppercase">PREM</span>
                  <% end %>
                </div>
              </th>
            <% end %>
          </tr>
          <tr>
            <th class='bg-gray-300 sticky left-0 table-cell'></th>
            <% @matches.each do |match| %>
              <th class="p-1 font-bold text-sm uppercase text-gray-600 bg-gray-200 table-cell">
                <span class="bg-blue-200 px-1 py-1 text-xs uppercase block"><%= match.start_time.in_time_zone(current_user.time_zone).strftime("%a %H:%M")%></span>
              </th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <%= render 'members' %>
        </tbody>
      </table>
    </div>
  </div>
  <div class='py-3'>
    <%== pagy_nav(@pagy) %>
  </div>
</div>
