<div class='p-4 container mx-auto'>
  <h2 class='text-lg text-left mb-4'>Usuarios</h2>
  <div class="lg:shadow lg:overflow-hidden lg:border-b lg:border-gray-200 sm:rounded-lg mb-4">
    <div class="lg:table w-full rounded min-w-full divide-y divide-gray-200">
      <div class="hidden lg:table-header-group bg-gray-200 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
        <%= sort_link(@q, :full_name, 'Nombre Completo', class: 'lg:table-cell px-6 py-3') %>
        <%= sort_link(@q, :phone, 'Telefono', class: 'lg:table-cell px-6 py-3') %>
        <%= sort_link(@q, :email, 'Correo', class: 'lg:table-cell px-6 py-3') %>
        <div class="lg:table-cell px-6 py-3">Membresias Activas</div>
        <div class="lg:table-cell px-6 py-3">Membresias Suspendidas</div>
        <div class="lg:table-cell px-6 py-3">Solic. Pendientes</div>
        <div class="lg:table-cell px-6 py-3">Solic. Rechazadas</div>
      </div>
      <div class="grid grid-cols-1 gap-8 lg:table-row-group lg:bg-white divide-y divide-gray-200">
        <% @users.each do |user| %>
          <div class="bg-white rounded-xl lg:rounded-none lg:table-row shadow-lg grid grid-cols-2 text-left gap-y-4 py-4 mb-4 lb:mb-0">
            <div class="lg:table-cell px-6 lg:py-3 whitespace-nowrap">
              <div class="lg:hidden text-sm text-gray-500">Nombre Completo</div>
              <div class="text-sm font-medium text-gray-900"><%= user.full_name %></div>
            </div>
            <div class="lg:table-cell px-6 lg:py-3 whitespace-nowrap">
              <div class="lg:hidden text-sm text-gray-500">Telefono</div>
              <div class="text-sm font-medium text-indigo-600">
                <a href="tel:<%= user.phone %>"><%= user.phone %></a>
              </div>
            </div>
            <div class="lg:table-cell px-6 lg:py-3 whitespace-nowrap">
              <div class="lg:hidden text-sm text-gray-500">Correo</div>
              <div class="text-sm text-gray-900"><%= user.email %></div>
            </div>
            <div class="lg:table-cell px-6 lg:py-3 whitespace-nowrap">
              <div class="lg:hidden text-sm text-gray-500">Membresias Activas</div>
              <div class="text-sm text-gray-900"><%= user.memberships.active.length %></div>
            </div>
            <div class="lg:table-cell px-6 lg:py-3 whitespace-nowrap">
              <div class="lg:hidden text-sm text-gray-500">Membresias Suspendidas</div>
              <div class="text-sm text-gray-900"><%= user.memberships.suspended.length %></div>
            </div>
            <div class="lg:table-cell px-6 lg:py-3 whitespace-nowrap">
              <div class="lg:hidden text-sm text-gray-500">Solic. Pendientes</div>
              <div class="text-sm text-gray-900"><%= user.requests.pending.length %></div>
            </div>
            <div class="lg:table-cell px-6 lg:py-3 whitespace-nowrap">
              <div class="lg:hidden text-sm text-gray-500">Solic. Rechazadas</div>
              <div class="text-sm text-gray-900"><%= user.requests.denied.length %></div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>