<div class='p-4 container mx-auto'>
  <h2 class='text-lg text-left mb-4'>Usuarios</h2>
  <div class="shadow overflow-x-scroll border-b border-gray-200 mb-4">
    <div class="table w-full rounded min-w-full">
      <div class="table-header-group bg-gray-200 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
        <%= sort_link(@q, :full_name, 'Nombre Completo', class: 'lg:table-cell px-6 py-3') %>
        <%= sort_link(@q, :phone, 'Telefono', class: 'lg:table-cell px-6 py-3') %>
        <%= sort_link(@q, :email, 'Correo', class: 'lg:table-cell px-6 py-3') %>
        <div class="lg:table-cell px-6 py-3">Usernames</div>
      </div>
      <div class="table-row-group bg-white">
        <% @users.each do |user| %>
          <div class="table-row text-left even:bg-white odd:bg-gray-100">
            <div class="table-cell py-1 md:py-3 px-6 whitespace-nowrap">
              <%= link_to user.full_name, admin_user_path(user), class: "text-sm font-medium text-indigo-800" %>
            </div>
            <div class="table-cell py-1 md:py-3 px-6 whitespace-nowrap">
              <div class="text-sm font-medium text-indigo-600">
                <a href="tel:<%= user.phone %>"><%= user.phone %></a>
              </div>
            </div>
            <div class="table-cell py-1 md:py-3 px-6 whitespace-nowrap">
              <div class="text-sm text-gray-900"><%= user.email %></div>
            </div>
            <div class="table-cell py-1 md:py-3 px-6 whitespace-nowrap gap-x-4">
              <% user.accounts.each do |account| %>
                <%= link_to account.username, admin_user_path(user), class: "px-2 mb-1 whitespace-no-wrap inline-flex text-xs leading-5 font-semibold rounded-full #{account.memberships.suspended.count > 0 ? 'bg-red-200 text-red-800' : account.memberships.active.count > 0 ? 'bg-blue-200 text-blue-800' : 'bg-gray-200 text-gray-800' }" %>
              <% end %>
              
              <% if user.accounts.count == 0 %>
                <div class="text-sm font-medium text-gray-900">No tiene usernames</div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>