<div class='p-4 container mx-auto text-left'>
  <h2 class='text-lg mb-4'>Cuenta de <%= @user.full_name %></h2>
  <div class="shadow overflow-x-scroll border-b border-gray-200 mb-4">
    <div class="table w-full rounded min-w-full">
      <div class="table-header-group bg-gray-200 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
        <div class="table-cell px-6 py-3">Username</div>
        <div class="table-cell px-6 py-3">Grupos Previos</div>
        <div class="table-cell px-6 py-3">Fecha de Creación</div>
        <div class="table-cell px-6 py-3">Acciones</div>
      </div>
      <div class="table-row-group bg-white">
        <% @user.accounts.each do |account| %>
          <div class="table-row text-left even:bg-white odd:bg-gray-100">
            <div class="table-cell py-1 md:py-3 px-6 whitespace-nowrap">
              <div class='inline-flex flex-row flex-nowrap align-start gap-2'>
                <p class="text-sm font-medium text-gray-900"><%= account.username %>
                  <%= link_to edit_admin_account_path(account), class: 'text-indigo-800 ml-1' do %>
                    <i class='fa-solid fa-xs fa-edit'></i>
                  <% end %>
                </p>
              </div>
            </div>
            <div class="table-cell py-1 md:py-3 px-6 whitespace-nowrap gap-x-4">
              <% account.memberships.each do |membership| %>
                <%= link_to "#{membership.group.name} - #{membership.group.tournament.year}", picks_admin_group_membership_path(membership.group, membership), class: "px-2 mb-1 whitespace-no-wrap inline-flex text-xs leading-5 font-semibold rounded-full #{membership.suspended ? 'bg-red-200 text-red-800' : 'bg-blue-200 text-blue-800'}" %>
              <% end %>
              
              <% if account.memberships.count == 0 %>
                <div class="text-sm font-medium text-gray-900">No tiene membresias</div>
              <% end %>
            </div>
            <div class="table-cell py-1 md:py-3 px-6 whitespace-nowrap">
              <div class="text-sm font-medium text-gray-900"><%= account.created_at.to_formatted_s(:long) %></div>
            </div>
            <div class="table-cell py-1 md:py-3 px-6 whitespace-nowrap">
              <div class='flex flex-row flex-nowrap align-start gap-4'>
              <%= form_with model: [:admin, account] do |f| %>
                <div class='flex flex-row flex-nowrap align-start gap-4'>
                  <div> 
                    <%= f.collection_select :user_id, User.all, :id, :name_and_email, { required: true }, { class: 'input w-48 py-1' } %>
                  </div>
                  <%= f.submit 'Transferir', form: { data: { turbo_confirm: 'This will transfer the account to the selected user. Are you sure?' } }, class: 'btn btn--primary py-1' %>
                </div>
              <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>