<div class='p-6 container mx-auto text-left'>
  <h1 class='text-xl text-indigo-900 mb-4'><b>Week <%= @week.number %></b> of <%= link_to "#{@week.tournament.name} - #{@week.tournament.year}", admin_tournament_path(@week.tournament), class: 'underline' %></h1>
  <div class='flex items-center mb-4 gap-4'>
    <%= link_to 'New Match', new_admin_week_match_path(@week), class: 'btn btn--secondary py-1' %>
    <%= link_to 'Previous Week', admin_week_path(@week.previous_week), class: 'btn btn--primary py-1' if @prev_week.present? %>
    <%= link_to 'Next Week', admin_week_path(@week.next_week), class: 'btn btn--primary py-1' if @next_week.present? %>
  </div>
  <h1 class='text-xl text-indigo-900 mb-4'>Automated tasks</h1>
  <div class='flex items-center mb-4 gap-4'>
    <%= button_to 'Update/Generate matches', [:update_matches, :admin, @week], form: { data: { turbo_confirm: 'This send a request to fetch match schedules in ESPN. Are you sure?' } }, class: 'btn btn--primary py-1' %>
    <%= button_to 'Update match results', [:update_match_results, :admin, @week], form: { data: { turbo_confirm: 'This send a request to fetch match results in ESPN. Are you sure?' } }, class: 'btn btn--primary py-1' %>
  </div>
  <div class="flex flex-col mb-4">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead>
              <tr class="bg-gray-200">
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Visit Team
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Home Team
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Start Time
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Options
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Actions
                </th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <% @matches.each do |match|  %>
                <tr>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="text-sm text-gray-900 <%= 'font-bold' if match.winning_team == match.visit_team %>">
                      <%= match.visit_team.name %>
                      <% if match.settled? %>
                        <span class='text-gray-800'><%= match.visit_team_score %></span>
                      <% end %>
                    </div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="text-sm text-gray-900 <%= 'font-bold' if match.winning_team == match.home_team %>">
                      <%= match.home_team.name %>
                      <% if match.settled? %>
                        <span class='text-gray-800'><%= match.home_team_score %></span>
                      <% end %>
                    </div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="text-sm font-medium text-indigo-900">
                      <%= match.start_time.present? ? match.start_time.to_formatted_s(:long) : 'TBA'  %>
                    </div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <% if match.tie %>
                      <span class='text-gray-800'>TIE</span>
                    <% end %>
                    <% if match.untie %>
                      <i class="fa-solid fa-m fa-lg text-gray-900"></i>
                    <% end %>
                    <% if match.premium %>
                      <i class="fa-solid fa-flag-checkered fa-lg text-indigo-600"></i>
                    <% end %>
                    
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="flex gap-4">
                      <%= link_to "Edit", edit_admin_match_path(match), class: 'btn btn--primary py-1' %>
                      <%= button_to 'Delete', [:admin, match], method: :delete, form: { data: { turbo_confirm: 'This will destroy the match. Are you sure?' } }, class: 'btn btn--danger py-1' %>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <h1 class='text-xl text-indigo-900 mb-4'>Danger zone</h1>
  <div class='flex items-center mb-4 gap-4'>
    <%= button_to 'Delete matches', [:delete_matches, :admin, @week], form: { data: { turbo_confirm: 'This will delete all week matches and picks. Are you sure?' } }, class: 'btn btn--danger py-1' %>
  </div>
</div>