<header class='container mx-auto px-6 lg:px-8 flex flex-wrap items-center py-2 justify-between'>
  <div class='flex justify-between md:pb-2 items-center'>
    <%= link_to root_path do %>
      <%= image_tag 'logo.svg', alt: 'Logo', class: 'h-12 mr-3' %>
    <% end %>
    <div class="flex flex-col">
      <div class='flex items-center text-lg text-indigo-900'>
        <h1>QNFLMTY <%= Time.zone.now.year %></h1>
      </div>
      <div class='flex items-center text-lg text-indigo-900'>
        <h1 class='text-xl font-bold'><%= current_user.full_name %></h1>
      </div>
    </div>
  </div>
  <%= render 'layouts/account_button' %>
</header>
