<!DOCTYPE html>
<html>
  <head>
    <title>Quiniela 2021 - Admin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet">
	  <link href="https://cdn.datatables.net/responsive/2.2.5/css/responsive.dataTables.min.css" rel="stylesheet">
  </head>

  <body class='antialiased bg-indigo-100' data-controller='infinite-scroll'>
    <%= render 'layouts/notifications' %>
    <nav class='hidden md:inline group fixed bg-white transition-all duration-500 overflow-scroll bottom-0 w-screen h-20 md:h-screen md:w-20 md:hover:w-64 m-0 z-50 md:shadow-xl'>
      <ul class='list-none p-0 m-0 flex flex-col items-center h-full'>
        <li class="font-bold uppercase mb-4 text-center text-indigo-900 bg-indigo-200 text-2xl w-full">
          <%= link_to admin_root_path, class: "flex items-center h-20 group-hover:text-indigo-900 group-hover:bg-indigo-200" do %>
            <span class="hidden absolute ml-4 -left-999 group-hover:inline group-hover:left-0">QNFLMTY</span>
            <i class="fas fa-football-ball fa-lg w-8 mx-6 group-hover:ml-48"></i>
          <% end %>
          </a>
        </li>
        <li class='w-full'>
          <%= link_to admin_tournaments_path, class: "flex items-center h-20 transition-all duration-300 #{ current_page?(admin_tournaments_path) ? 'text-indigo-900 bg-indigo-200' : 'hover:text-indigo-900 hover:bg-indigo-200 text-teal-500'}" do %>
            <%= image_pack_tag "tournament.svg", class: 'w-8 mx-6' %>
            <span class="hidden group-hover:inline ml-4">Tournaments</span>
          <% end %>
        </li>
        <li class='w-full'>
          <%= link_to admin_sports_path, class: "flex items-center h-20 transition-all duration-300 #{ current_page?(admin_sports_path) ? 'text-indigo-900 bg-indigo-200' : 'hover:text-indigo-900 hover:bg-indigo-200 text-teal-500'}" do %>
            <%= image_pack_tag "DAL.svg", class: 'w-8 mx-6' %>
            <span class="hidden group-hover:inline ml-4">Sports</span>
          <% end %>
        </li>
        <li class='w-full'>
          <%= link_to admin_groups_path, class: "flex items-center h-20 transition-all duration-300 #{ current_page?(admin_groups_path) ? 'text-indigo-900 bg-indigo-200' : 'hover:text-indigo-900 hover:bg-indigo-200 text-teal-500'}" do %>
            <%= image_pack_tag "groups.svg", class: 'w-8 mx-6' %>
            <span class="hidden group-hover:inline ml-4">Groups</span>
          <% end %>
        </li>
        <li class='w-full mt-auto'>
          <%= link_to edit_user_registration_path, class: "flex items-center h-20 transition-all duration-300 #{ current_page?(edit_user_registration_path) ? 'text-indigo-900 bg-indigo-200' : 'hover:text-indigo-900 hover:bg-indigo-200 text-teal-500'}" do %>
            <i class="fas fa-user fa-2x mx-6"></i>
            <span class="hidden group-hover:inline ml-4">Profile</span>
          <% end %>
        </li>
      </ul>
    </nav>
    <main class='md:ml-20 mb-16 md:mb-0'>
      <div class='bg-white px-6 pt-3 shadow-sm'>
        <div class='flex flex-wrap justify-start lg:justify-between mb-6'>
          <div class="flex items-center">
            <%= link_to admin_root_path, class: 'text-md text-indigo-900' do %>
              <i class="fas fa-football-ball fa-2x mr-3"></i>
            <% end %>
            <h1 class='text-xl text-indigo-900 mr-3'><b><%= @group.name %></b></h1>
          </div>
          <div class="flex items-center">
            <div class='text-md flex items-center hover:text-indigo-900 py-3 px-3'>
              <i class="fas fa-user mr-2 fill-current"></i>
              <span><%= @group.memberships.count %></span>
            </div>
            <% if @group.tournament.weeks.present? %>
              <%= link_to admin_week_path(@group.tournament.current_week), class: "text-md text-gray-600 flex items-center hover:text-indigo-900 py-3 px-3" do %>
                <i class="fas fa-calendar-week mr-2 fill-current"></i>
                <span>Week <%= @group.tournament.current_week.number %></span>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="hidden md:flex mb-20 md:mb-0">
          <%= link_to table_admin_group_path(@group), class: "text-md text-indigo-900 flex items-center border-b-2 pb-3 px-2 #{current_page?(table_admin_group_path(@group)) ? 'border-orange-400' : 'border-transparent hover:border-gray-400'}" do %>
            <i class="fas fa-table mr-3 fill-current"></i>
            <span>Consolidado</span>
          <% end %>
          <%= link_to members_admin_group_path(@group), class: "text-md text-indigo-900 flex items-center border-b-2 pb-3 px-2 #{current_page?(members_admin_group_path(@group)) ? 'border-orange-400' : 'border-transparent hover:border-gray-400'}" do %>
            <i class="fas fa-users mr-3 fill-current"></i>
            <span>Tabla de Posiciones</span>
          <% end %>
          <%= link_to winners_admin_group_path(@group), class: "text-md text-indigo-900 flex items-center border-b-2 pb-3 px-2 #{current_page?(winners_admin_group_path(@group)) ? 'border-orange-400' : 'border-transparent hover:border-gray-400'}" do %>
            <i class="fas fa-star mr-3 fill-current"></i>
            <span>Ganadores</span>
          <% end %>
          <%= link_to matches_admin_group_path(@group), class: "text-md text-indigo-900 flex items-center border-b-2 pb-3 px-2 #{current_page?(matches_admin_group_path(@group)) ? 'border-orange-400' : 'border-transparent hover:border-gray-400'}" do %>
            <i class="fas fa-football-ball mr-3 fill-current"></i>
            <span>Juegos</span>
          <% end %>
        </div>
      </div>
      <%= yield %>
    </main>
    <nav class="fixed bg-white bottom-0 w-screen h-20 m-0 z-50 <%= @pagy && @pagy.pages > 1 ? 'h-24 md:h-8' : 'h-16 md:hidden' %>">
      <% if @pagy && @pagy.pages > 1 %>
        <div class='container mx-auto'>
          <button data-action="click->infinite-scroll#loadMore" data-target='infinite-scroll.button' class='btn btn--info w-full rounded-none h-8'>Load More</button>
        </div>
      <% end %>
      <ul class='md:hidden list-none p-0 m-0 flex items-center h-full'>
        <li class='w-full'>
          <%= link_to table_admin_group_path(@group), class: "flex flex-col text-xs items-center justify-center h-20 border-t-2 #{ current_page?(table_admin_group_path(@group)) ? 'text-indigo-900 bg-indigo-200 border-orange-400' : 'text-gray-400'}" do %>
            <i class="fas fa-table fa-2x mx-6 mb-1"></i>
            <span class="font-light uppercase">Consolidado</span>
          <% end %>
        </li>
        <li class='w-full'>
          <%= link_to members_admin_group_path(@group), class: "flex flex-col text-xs items-center justify-center h-20 border-t-2 #{ current_page?(members_admin_group_path(@group)) ? 'text-indigo-900 bg-indigo-200 border-orange-400' : 'text-gray-400'}" do %>
            <i class="fas fa-users fa-2x mx-6 mb-1"></i>
            <span class="font-light uppercase">Posiciones</span>
          <% end %>
        </li>
        <li class='w-full'>
          <%= link_to winners_admin_group_path(@group), class: "flex flex-col text-xs items-center justify-center h-20 border-t-2 #{ current_page?(winners_admin_group_path(@group)) ? 'text-indigo-900 bg-indigo-200 border-orange-400' : 'text-gray-400'}" do %>
            <i class="fas fa-star fa-2x mx-6 mb-1"></i>
            <span class="font-light uppercase">Ganadores</span>
          <% end %>
        </li>
        <li class='w-full'>
          <%= link_to matches_admin_group_path(@group), class: "flex flex-col text-xs items-center justify-center h-20 border-t-2 #{ current_page?(matches_admin_group_path(@group)) ? 'text-indigo-900 bg-indigo-200 border-orange-400' : 'text-gray-400'}" do %>
            <i class="fas fa-football-ball fa-2x mx-6 mb-1"></i>
            <span class="font-light uppercase">Juegos</span>
          <% end %>
        </li>
      </ul>
    </nav>
    </div>
  </body>
</html>


