<!DOCTYPE html>
<html>
  <head>
    <title>Quiniela 2022 - Admin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>


  <body class='antialiased bg-indigo-100 font-sans font-normal leading-relaxed text-gray-800 font-base'>
    <%= render 'layouts/notifications' %>
    <main>
      <div class='bg-white shadow-sm'>
        <header class='flex flex-wrap px-6 py-3 justify-between mb-2'>
          <div class="flex items-center">
            <%= link_to root_path do %>
              <%= image_tag 'logo.svg', alt: 'Logo', class: 'h-8 mr-3' %>
            <% end %>
            <%= link_to root_path, class: 'text-xl text-indigo-900 mr-3' do %>
              Admin
            <% end %>
          </div>
          <%= render 'layouts/account_button' %>
        </header>
        <div class="flex overflow-x-scroll px-6">
          <%= link_to admin_groups_path, class: "text-md text-indigo-900 flex items-center border-b-2 pb-3 px-2 #{current_page?(admin_groups_path) ? 'border-orange-400' : 'border-transparent hover:border-gray-400'}" do %>
            <i class="fa-solid fa-users mr-3 fill-current"></i>
            <span>Grupos</span>
          <% end %>
          <%= link_to admin_users_path, class: "text-md text-indigo-900 flex items-center border-b-2 pb-3 px-2 #{current_page?(admin_users_path) ? 'border-orange-400' : 'border-transparent hover:border-gray-400'}" do %>
            <i class="fa-solid fa-table mr-3 fill-current"></i>
            <span>Usuarios</span>
          <% end %>
          <%= link_to admin_tournaments_path, class: "text-md text-indigo-900 flex items-center border-b-2 pb-3 px-2 #{current_page?(admin_tournaments_path) ? 'border-orange-400' : 'border-transparent hover:border-gray-400'}" do %>
            <i class="fa-solid fa-table mr-3 fill-current"></i>
            <span>Torneos</span>
          <% end %>
        </div>
      </div>
      <%= yield %>
    </main>
  </body>
</html>


