<!DOCTYPE html>
<html>
  <head>
    <title>Quiniela 2023 - Admin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class='antialiased bg-indigo-100 font-sans font-normal leading-relaxed text-gray-800 font-base'>
    <%= render 'layouts/notifications' %>
    <main>
      <div class='bg-white pt-3 shadow-sm'>
        <header class='flex flex-wrap px-6 justify-between mb-2'>
          <div class="flex items-center">
            <%= link_to root_path do %>
              <%= image_tag 'logo.svg', alt: 'Logo', class: 'h-8' %>
            <% end %>
            <h1 class='text-xl text-indigo-900 mx-3'><b><%= @group.name %></b> <span><i class="fa-solid fa-users ml-2 fill-current fa-sm"></i> <%= @group.memberships.active.count %> <i class="fa-solid fa-w ml-2 fill-current fa-sm"></i> <%= @group.tournament.current_week.present? ? @group.tournament.current_week.number : '-' %></span></h1>
          </div>
          <%= render 'layouts/account_button' %>
        </header>
        <div class="flex overflow-x-scroll px-6 whitespace-nowrap">
          <%= link_to members_admin_group_path(@group), class: "text-md text-indigo-900 flex items-center border-b-2 pb-3 px-2 #{current_page?(members_admin_group_path(@group)) ? 'border-orange-400' : 'border-transparent hover:border-gray-400'}" do %>
            <i class="fa-solid fa-users mr-3 fill-current"></i>
            <span>Posiciones</span>
          <% end %>
          <%= link_to table_admin_group_path(@group), class: "text-md text-indigo-900 flex items-center border-b-2 pb-3 px-2 #{current_page?(table_admin_group_path(@group)) ? 'border-orange-400' : 'border-transparent hover:border-gray-400'}" do %>
            <i class="fa-solid fa-table mr-3 fill-current"></i>
            <span>Consolidado</span>
          <% end %>
          <%= link_to admin_group_weeks_path(@group), class: "text-md text-indigo-900 flex items-center border-b-2 pb-3 px-2 #{current_page?(admin_group_weeks_path(@group)) ? 'border-orange-400' : 'border-transparent hover:border-gray-400'}" do %>
            <i class="fa-solid fa-w mr-3 fill-current"></i>
            <span>Semanas</span>
          <% end %>
          <%= link_to matches_admin_group_path(@group), class: "text-md text-indigo-900   flex items-center border-b-2 pb-3 px-2 #{current_page?(matches_admin_group_path(@group)) ? 'border-orange-400' : 'border-transparent hover:border-gray-400'}" do %>
            <i class="fa-solid fa-football-ball mr-3 fill-current"></i>
            <span>Juegos</span>
          <% end %>
          <%= link_to requests_admin_group_path(@group), class: "text-md text-indigo-900 flex items-center border-b-2 pb-3 px-2 #{current_page?(requests_admin_group_path(@group)) ? 'border-orange-400' : 'border-transparent hover:border-gray-400'}" do %>
            <i class="fa-solid fa-list-check mr-3 fill-current"></i>
            <span>Solicitudes</span>
          <% end %>
          <%= link_to users_admin_group_path(@group), class: "text-md text-indigo-900 flex items-center border-b-2 pb-3 px-2 #{current_page?(users_admin_group_path(@group)) ? 'border-orange-400' : 'border-transparent hover:border-gray-400'}" do %>
            <i class="fa-solid fa-users mr-3 fill-current"></i>
            <span>Usuarios</span>
          <% end %>
          <%= link_to users_not_paid_admin_group_path(@group), class: "text-md text-indigo-900 flex items-center border-b-2 pb-3 px-2 #{current_page?(users_not_paid_admin_group_path(@group)) ? 'border-orange-400' : 'border-transparent hover:border-gray-400'}" do %>
            <i class="fa-solid fa-money-bills mr-3 fill-current"></i>
            <span>Usuarios sin pagar</span>
          <% end %>
          <%= link_to inactive_accounts_admin_group_path(@group), class: "text-md text-indigo-900 flex items-center border-b-2 pb-3 px-2 #{current_page?(inactive_accounts_admin_group_path(@group)) ? 'border-orange-400' : 'border-transparent hover:border-gray-400'}" do %>
            <i class="fa-solid fa-cog mr-3 fill-current"></i>
            <span>Cuentas Inactivas</span>
          <% end %>
          <%= link_to edit_admin_group_path(@group), class: "text-md text-indigo-900 flex items-center border-b-2 pb-3 px-2 #{current_page?(edit_admin_group_path(@group)) ? 'border-orange-400' : 'border-transparent hover:border-gray-400'}" do %>
            <i class="fa-solid fa-cog mr-3 fill-current"></i>
            <span>Configuración</span>
          <% end %>
          <%= link_to settings_admin_group_path(@group), class: "text-md text-indigo-900 flex items-center border-b-2 pb-3 px-2 #{current_page?(settings_admin_group_path(@group)) ? 'border-orange-400' : 'border-transparent hover:border-gray-400'}" do %>
            <i class="fa-solid fa-cog mr-3 fill-current"></i>
            <span>Configuración Avanzada</span>
          <% end %>
        </div>
      </div>
      <%= yield %>
    </main>
  </body>
</html>


