<!DOCTYPE html>
<html>
  <head>
    <title>Quiniela 2023</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class='antialiased bg-indigo-100 font-sans font-normal leading-relaxed text-gray-800 font-base'>
    <%= render 'layouts/notifications' %>
    <div class='bg-white'>
      <%= render 'layouts/header' %>
    </div>
    <%= yield %>
  </body>
</html>
