<!DOCTYPE html>
<html>
  <head>
    <title>Quiniela 2020</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='antialiased bg-indigo-100'>
    <% if notice %>
      <script>
        toaster.fire({
          icon: 'success',
          title: "<%= notice %>",
        });
      </script>
    <% end %>
    <% if alert %>
      <script>
        toaster.fire({
          icon: 'error',
          title: "<%= alert %>",
        });
      </script>
    <% end %>
    <%= render 'layouts/header' %>
    <%= yield %>
  </body>

  
</html>
