<!DOCTYPE html>
<html>
  <head>
    <title>Quiniela 2020 - Admin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet">
	  <link href="https://cdn.datatables.net/responsive/2.2.5/css/responsive.dataTables.min.css" rel="stylesheet">
  </head>

  <body class='antialiased bg-indigo-100' data-controller='infinite-scroll'>
    <%= render 'layouts/notifications' %>
    <header class='bg-white px-6 py-3 md:pb-0 shadow-sm'>
      <div class='flex justify-between md:pb-2'>
        <%= link_to root_path do %>
          <%= image_pack_tag 'logo.svg', alt: 'Logo', class: 'h-12 mr-3' %>
        <% end %>
        <div class="flex flex-col mr-auto">
          <div class='flex items-center text-lg text-indigo-900'>
            <i class="fas fa-users mr-1"></i>
            <h1 class=''><%= @membership.group.name %></h1>
          </div>
          <div class='flex items-center text-lg text-indigo-900'>
            <i class="fas fa-user ml-1 mr-2"></i>
            <h1 class='text-xl font-bold'><%= @membership.account.username %></h1>
          </div>
        </div>
        <%= render 'layouts/account_button' %>
      </div>
      <div class="hidden md:flex mb-20 md:mb-0">
        <% if @membership.account.user == current_user %>
          <%= link_to table_membership_path(@membership), class: "text-md text-indigo-900 flex items-center border-b-2 pb-3 px-2 #{current_page?(table_membership_path(@membership)) ? 'border-orange-400' : 'border-transparent hover:border-gray-400'}" do %>
            <i class="fas fa-table mr-3 fill-current"></i>
            <span>Conso Week <%= @membership.group.tournament.current_week.number %></span>
          <% end %>
          <%= link_to picks_membership_path(@membership), class: "text-md text-indigo-900 flex items-center border-b-2 pb-3 px-2 #{current_page?(picks_membership_path(@membership)) ? 'border-orange-400' : 'border-transparent hover:border-gray-400'}" do %>
            <i class="fas fa-money-bill-wave-alt mr-3 fill-current"></i>
            <span>Picks</span>
          <% end %>
          <%= link_to members_membership_path(@membership), class: "text-md text-indigo-900 flex items-center border-b-2 pb-3 px-2 #{current_page?(members_membership_path(@membership)) ? 'border-orange-400' : 'border-transparent hover:border-gray-400'}" do %>
            <i class="fas fa-users mr-3 fill-current"></i>
            <span>Tabla de Posiciones</span>
          <% end %>
          <%= link_to winners_membership_path(@membership), class: "text-md text-indigo-900 flex items-center border-b-2 pb-3 px-2 #{current_page?(winners_membership_path(@membership)) ? 'border-orange-400' : 'border-transparent hover:border-gray-400'}" do %>
            <i class="fas fa-star mr-3 fill-current"></i>
            <span>Ganadores</span>
          <% end %>
        <% else %>
          <%= link_to public_picks_membership_path(@membership), class: "text-md text-indigo-900 flex items-center border-b-2 pb-3 px-2 #{current_page?(public_picks_membership_path(@membership)) ? 'border-orange-400' : 'border-transparent hover:border-gray-400'}" do %>
            <i class="fas fa-money-bill-wave-alt mr-3 fill-current"></i>
            <span>Public Picks</span>
          <% end %>
        <% end %>
      </div>
    </header>
    <main class='mb-24 md:mb-0'>
      <%= yield %>
    </main>
    <nav class="fixed bg-white bottom-0 w-screen m-0 z-50 <%= @pagy && @pagy.pages > 1 ? 'h-24 md:h-8 md:bg-transparent' : 'h-16 md:hidden' %>">
      <% if @pagy && @pagy.pages > 1 %>
        <div class='container mx-auto'>
          <button data-action="click->infinite-scroll#loadMore" data-target='infinite-scroll.button' class='btn btn--info w-full rounded-none h-8'>Load More</button>
        </div>
      <% end %>
      <ul class='md:hidden list-none p-0 m-0 flex items-center h-16'>
        <li class='w-full'>
          <%= link_to table_membership_path(@membership), class: "flex flex-col text-xs items-center justify-center h-16 border-t-2 #{ current_page?(table_membership_path(@membership)) ? 'text-indigo-900 bg-indigo-200 border-orange-400' : 'text-gray-400'}" do %>
            <i class="fas fa-table fa-2x mx-6 mb-1"></i>
            <span class="font-light uppercase">Conso Week <%= @membership.group.tournament.current_week.number %></span>
          <% end %>
        </li>
        <li class='w-full'>
          <%= link_to picks_membership_path(@membership), class: "flex flex-col text-xs items-center justify-center h-16 border-t-2 #{ current_page?(picks_membership_path(@membership)) ? 'text-indigo-900 bg-indigo-200 border-orange-400' : 'text-gray-400'}" do %>
            <i class="fas fa-users fa-2x mx-6 mb-1"></i>
            <span class="font-light uppercase">Picks</span>
          <% end %>
        </li>
        <li class='w-full'>
          <%= link_to members_membership_path(@membership), class: "flex flex-col text-xs items-center justify-center h-16 border-t-2 #{ current_page?(members_membership_path(@membership)) ? 'text-indigo-900 bg-indigo-200 border-orange-400' : 'text-gray-400'}" do %>
            <i class="fas fa-user fa-2x mx-6 mb-1"></i>
            <span class="font-light uppercase">Posiciones</span>
          <% end %>
        </li>
        <li class='w-full'>
          <%= link_to winners_membership_path(@membership), class: "flex flex-col text-xs items-center justify-center h-16 border-t-2 #{ current_page?(winners_membership_path(@membership)) ? 'text-indigo-900 bg-indigo-200 border-orange-400' : 'text-gray-400'}" do %>
            <i class="fas fa-star fa-2x mx-6 mb-1"></i>
            <span class="font-light uppercase">Ganadores</span>
          <% end %>
        </li>
      </ul>
    </nav>
  </body>
</html>
